
table {
    border-collapse: collapse;

    thead {
        th {
            &:not(:first-child) {
                border-left: 1px solid var(--thin-border-color);
            }

            border-bottom: 1px solid var(--thin-border-color);
            border-top: none;
        }

        /*margin:0;*/
    }

    td {
        text-align: center;
        border: 1px solid var(--thin-border-color);

    }
    th[scope='row'] {
        border-bottom: 1px solid var(--thin-border-color);
    }

}
